<section class='text-pretty flex gap-x-4'>
  <div
    class='[&>p]:mb-4 [&>ul>li>strong]:text-yellow-200 [&>ul>li>strong]:font-semibold text-pretty order-2 md:order-1'
  >
    <p>
      Hola, soy Luis Cifuentes, graduado de Tecnólogo en Análisis y Desarrollo
      de Sistemas de Información y actualmente soy estudiante de Ingeniería de
      Sistemas.
    </p>

    <p>Algunos de mis proyectos mas destacados:</p>
    <ul class='mb-4'>
      <li>
        - <strong>RiegoIOT</strong> la cual es una aplicacion para controlar el riego
        automático mediante el uso IOT.
      </li>
      <li>
        - <strong>LMS Platform</strong> Este proyecto es un repositorio para construir
        una plataforma de gestión de aprendizaje (LMS).
      </li>
      <li>
        - <strong>WebApp</strong> para la gestión de cursos complementarios de los
        estudiantes del Sena.
      </li>
    </ul>

    <p>
      Mis metas profesionales son seguir creciendo como desarrollador web,
      trabajar en proyectos desafiantes y creativos, y colaborar con otros
      desarrolladores. Si quieres saber más sobre mí, puedes visitar mi GitHub,
      donde encontrarás algunos de mis proyectos personales.
    </p>
  </div>
</section>
