---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    title: 'Agente Telefónico',
    company: 'SONDA COLOMBIA',
    location: 'Bogotá, Cundinamarca',
    date: 'septiembre 2021 – agosto 2022',
    description:
      'Brindar asesoramiento para implementación de la pasarela de pagos en las páginas web de los comercios y dar soporte posteriormente a la misma, brindar soporte técnico de mesa de ayuda y a puntos móviles (POS).',
  },
  {
    title: 'Auxiliar Sistemas, mesa de ayuda.',
    company: 'INMACULADA GUADALUPE Y AMIGOS EN CIA SA',
    location: 'Chia - Cundinarca',
    date: 'junio 2015 – diciembre 2015',
    description: `Atender consultas, resolver problemas de hardware y software, registrar y gestionar
      incidentes a través de un sistema de mesa de ayuda`,
  },
  {
    title: 'Desarrollador Junior',
    company: 'SENA',
    location: 'Chia - Cundinarca',
    date: 'noviembre 2013 – abril 2015',
    description: `Desarrollo de módulos en PHP para aplicaciones web.
      Colaboración en el diseño y la implementación de soluciones de software.
      Participación en la programación y mantenimiento de bases de datos.
      Colaboración en la documentación técnica de los proyectos.
      Trabajo en equipo con otros programadores y miembros del equipo de desarrollo.`,
  },
];
---

<ol class='relative border-s border-gray-200 dark:border-gray-300 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
