<header class='flex justify-between py-3 w-[1120px]'>
  <img
    class='rounded-full size-[50px]'
    src='https://avatars.githubusercontent.com/u/73793929?v=4'
    alt='photo'
  />

  <nav class='flex flex-row gap-x-10 opacity-80'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/contact'>Projects</a>
    <a href='/contact'>Contact</a>
  </nav>
</header>
